/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

a {
  color: #071937;
}
/* inputs in programms */
.v-input__details {
  display: none !important;
}

.v-field__overlay {
opacity: 0 !important;
}

.v-field__field {
  max-height: 50px !important;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
color: #fff !important;
}

.swiper-button-next {
  color: #fff !important;
}



@media screen and (max-width: 1600px) {
  .wrapper {
    max-width: 1200px;
  }
}

@media screen and (max-width: 800px) {
  .swiper-button-prev {
    top: 35% !important;
  }

  .swiper-button-next {
    top: 35% !important;
  }
}
